<app-menu-login></app-menu-login>

<div class="container-main">
    <div class="container-learn">
      <p class="container-learn-tittle">Empecemos aprender</p>
    </div>

    <div class="container-learn-courses">
        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>

        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>

        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>

        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>

        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>

        <mat-card class="container-learn-course">
            <img src="https://s.udemycdn.com/learning-reminder/learning-reminder-card-illustration.png" alt="">
            <div class="container-learn-course-info">
                <p>Programa un tiempo para aprender</p> 
                <p>Todo lo que hagas cada día cuenta.</p>    
            </div>
        </mat-card>
    </div> 
</div>
